# --- DATABASE CONFIG (DuckDB/Postgres) ---
DB_PATH=storage/warehouse/analytics.db
DB_USER=admin_user
DB_PASSWORD=your_password_here

# --- API KEYS (ELT Extraction) ---
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
EXTERNAL_API_KEY=sk_test_51Mz...


# fastf1 API doesn't require an API key 🤣🤣🤣
# but I will use AWS secrets manager in production for other sensitive info
# so sadly there is nothing here :)

# --- ML SETTINGS ---
MODEL_ENV=development  # development, staging, production
REGULARIZATION_STRENGTH=0.1

# --- CLOUD STORAGE (AWS/GCP) ---
AWS_ACCESS_KEY_ID=AKIA...
AWS_SECRET_ACCESS_KEY=your_secret_here
S3_BUCKET_NAME=f1-data-lake
