# Copy this file to .env and fill in your real keys
OPENAI_API_KEY=your_openai_key_here
PDF_SERVICE_TOKEN=your_service_token_here

# Settings
ENV=development
DEBUG=True
PORT=8000


# Optional:

# # --- DATABASE CONFIG (DuckDB/Postgres) ---
# DB_PATH=your_db_path_here.db  # For DuckDB
# DB_USER=admin_user
# DB_PASSWORD=your_password_here
# DB_HOST=your_db_host_here
# DB_PORT=your_db_port_here
# DB_NAME=your_db_name_here

# # --- API KEYS (ELT Extraction) ---
# KAFKA_BOOTSTRAP_SERVERS=localhost:9092
# EXTERNAL_API_KEY=sk_test_51Mz...


# # fastf1 API doesn't require an API key 🤣🤣🤣
# # but I will use AWS secrets manager in production for other sensitive info
# # so sadly there is nothing here :)

# # --- ML SETTINGS ---
# MODEL_ENV=development  # development, staging, production
# REGULARIZATION_STRENGTH=0.1

# # --- CLOUD STORAGE (AWS/GCP) ---
# AWS_ACCESS_KEY_ID=AKIA...
# AWS_SECRET_ACCESS_KEY=your_secret_here
# S3_BUCKET_NAME=f1-data-lake